body {
  font-family: monospace;
  font-size: 1.4em;
  text-align: center;
}

h2 {
  margin-top: 70px;
}

table {
  display: initial;
}

ul {
  line-height: 1.3cm;
  list-style-type: none;
}


.front-end-stack {
  text-align: center;
  width: 96px;
}

.frameworks {
  text-align: center;
  width: 96px;
}

.libraries {
  text-align: center;
  width: 96px;
}

.logo-html, .logo-css, .logo-javascript, .logo-bootstrap, .logo-figma {
  height: 48px;
  width: 48px;
}

.logo-react, .logo-node, .logo-less {
  height: 48px;
  width: 60px;
}

.prototyping {
  text-align: center;
  width: 96px;
}

.runtime-env {
  text-align: center;
  width: 96px;
}
